<?xml version="1.0"?>

<model>
  <name>Aruco pillar</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Tristan de BLAUWE</name>
    <email>tdb.work@outlook.fr</email>
  </author>

  <description>
    Pillier où se trouve un marqueur aruco
  </description>
</model>
